<html>
<head>
<title>cadastro_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #6aab73;}
.s3 { color: #bcbec4;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
cadastro_main.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:id</span><span class="s2">=&quot;@+id/main&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;@drawable/background&quot;</span>

    <span class="s1">tools:context</span><span class="s2">=&quot;.Activity.cadastro_activity&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;View</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/containerlogin&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;550dp&quot;</span>
        <span class="s1">android:layout_marginHorizontal</span><span class="s2">=&quot;20dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/container_edit_text_login&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.498&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textcadastro&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Cadastro&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;25sp&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;@color/white&quot;</span>
        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;20dp&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;@id/containerlogin&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@id/containerlogin&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;@id/containerlogin&quot;</span>
        <span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textdesc&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;insira seus dados&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;@color/white&quot;</span>
        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;13dp&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/textcadastro&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@id/containerlogin&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;@id/containerlogin&quot;</span>

        <span class="s0">/&gt;</span>
    <span class="s0">&lt;EditText</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/EditEmailLogin&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;300dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;50dp&quot;</span>
        <span class="s1">android:hint</span><span class="s2">=&quot;Nome de Usuário:&quot;</span>
        <span class="s1">android:drawableLeft</span><span class="s2">=&quot;@drawable/person_header&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/container_edit_text_all&quot;</span>
        <span class="s1">android:padding</span><span class="s2">=&quot;15dp&quot;</span>
        <span class="s1">android:inputType</span><span class="s2">=&quot;text&quot;</span>
        <span class="s1">android:maxLines</span><span class="s2">=&quot;1&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;20dp&quot;</span>
        <span class="s1">android:layout_marginHorizontal</span><span class="s2">=&quot;40dp&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/textdesc&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@+id/containerlogin&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;@+id/containerlogin&quot;</span>


        <span class="s0">/&gt;</span>
    <span class="s0">&lt;EditText</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/EditTextEmail&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;300dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;50dp&quot;</span>
        <span class="s1">android:hint</span><span class="s2">=&quot;Email:&quot;</span>
        <span class="s1">android:drawableLeft</span><span class="s2">=&quot;@drawable/email&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/container_edit_text_all&quot;</span>
        <span class="s1">android:padding</span><span class="s2">=&quot;15dp&quot;</span>
        <span class="s1">android:inputType</span><span class="s2">=&quot;text&quot;</span>
        <span class="s1">android:maxLines</span><span class="s2">=&quot;1&quot;</span>
        <span class="s1">android:layout_marginVertical</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">android:layout_marginHorizontal</span><span class="s2">=&quot;40dp&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/EditEmailLogin&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@+id/containerlogin&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;@+id/containerlogin&quot;</span>
        <span class="s0">/&gt;</span>
    <span class="s0">&lt;EditText</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/EditLoginSenha&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;300dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;50dp&quot;</span>
        <span class="s1">android:hint</span><span class="s2">=&quot;Telefone:&quot;</span>
        <span class="s1">android:drawableLeft</span><span class="s2">=&quot;@drawable/phone&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/container_edit_text_all&quot;</span>
        <span class="s1">android:padding</span><span class="s2">=&quot;15dp&quot;</span>
        <span class="s1">android:inputType</span><span class="s2">=&quot;numberPassword&quot;</span>
        <span class="s1">android:maxLines</span><span class="s2">=&quot;1&quot;</span>
        <span class="s1">android:layout_marginVertical</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">android:layout_marginHorizontal</span><span class="s2">=&quot;40dp&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/EditTextEmail&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@+id/containerlogin&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;@+id/containerlogin&quot;</span>
        <span class="s0">/&gt;</span>
    <span class="s0">&lt;EditText</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/EditTextTel&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;300dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;50dp&quot;</span>
        <span class="s1">android:hint</span><span class="s2">=&quot;Senha:&quot;</span>
        <span class="s1">android:drawableLeft</span><span class="s2">=&quot;@drawable/lock&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/container_edit_text_all&quot;</span>
        <span class="s1">android:padding</span><span class="s2">=&quot;15dp&quot;</span>
        <span class="s1">android:inputType</span><span class="s2">=&quot;number&quot;</span>
        <span class="s1">android:maxLines</span><span class="s2">=&quot;1&quot;</span>
        <span class="s1">android:layout_marginVertical</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">android:layout_marginHorizontal</span><span class="s2">=&quot;40dp&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/EditLoginSenha&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@+id/containerlogin&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;@+id/containerlogin&quot;</span>
        <span class="s0">/&gt;</span>

    <span class="s0">&lt;EditText</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/EditTextTConfSenha&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;300dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;50dp&quot;</span>
        <span class="s1">android:hint</span><span class="s2">=&quot;Confirmar Senha:&quot;</span>
        <span class="s1">android:drawableLeft</span><span class="s2">=&quot;@drawable/lock&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/container_edit_text_all&quot;</span>
        <span class="s1">android:padding</span><span class="s2">=&quot;15dp&quot;</span>
        <span class="s1">android:inputType</span><span class="s2">=&quot;number&quot;</span>
        <span class="s1">android:maxLines</span><span class="s2">=&quot;1&quot;</span>
        <span class="s1">android:layout_marginVertical</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">android:layout_marginHorizontal</span><span class="s2">=&quot;40dp&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/EditTextTel&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@+id/containerlogin&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;@+id/containerlogin&quot;</span>
        <span class="s0">/&gt;</span>


    <span class="s0">&lt;androidx.appcompat.widget.AppCompatButton</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/BotaoLogin&quot;</span>
        <span class="s1">style</span><span class="s2">=&quot;@style/Button1&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;250dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;50dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;124dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;30dp&quot;</span>
        <span class="s1">android:onClick</span><span class="s2">=&quot;validarcampos&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Cadastrar!&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;@+id/containerlogin&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;@id/containerlogin&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@id/containerlogin&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/EditTextTel&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;com.google.android.material.chip.Chip</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/chipTermoDeUso&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;190dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;20dp&quot;</span>
        <span class="s1">android:hint</span><span class="s2">=&quot;Concorda com nossos termos de&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;@color/black&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;90dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;489dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;20dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;@string/uso&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;11dp&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#0800FF&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;270dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;491dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Switch</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/switch1&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Efeito Sonoros&quot;</span>
        <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;124dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;462dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/editEsqueceuSenha&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginHorizontal</span><span class="s2">=&quot;30dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;90dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;5dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;181dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;30dp&quot;</span>


        <span class="s1">android:text</span><span class="s2">=&quot;Já realizou o cadastro antes?&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#E3E1E2&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/BotaoLogin&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@+id/containerlogin&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;@+id/containerlogin&quot;</span>
        <span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/RedefinirSenha&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;232dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;4dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;@string/EsqSenha&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#0800FF&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@+id/containerlogin&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/BotaoLogin&quot; </span><span class="s0">/&gt;</span>

<span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span></pre>
</body>
</html>